*{
    box-sizing: border-box;
  }
body{
  text-align: center;
  font-family: 'Muli', sans-serif;
}
header {
     background: url(/img/background.jpg);
     background-size: cover;
     color: #ffffff;
     font-size: 60px;
     text-align: center;
     padding: 130px;
 }
 main section {
   width: 960px;
   margin: 0 auto;
 }
 td {
   border: 1px solid rgb(176, 180, 181);
   background-color: rgb(237, 237, 237);
   padding: 10px;
 }
 table {
   float: left;
   width: 30%;
  margin-top: 50px;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: 20px;
 }
 .whiteb {
   background-color: white;
 }
 .wht {
   color: white;
 }
 .greenb {
   background-color: rgb(104, 166, 99);
 }
 .blueb {
   background-color: rgb(55, 58, 143);
 }
 .blackb {
   background-color: black;
 }
 .bigf {
   font-size: 80px;
 }
 .topp {
   padding-top: 30px;
 }
 .botp {
   padding-bottom: 30px;
 }
 .superbig {
   font-size: 100px;
 }
 .transparent {
   color:rgba(241, 225, 225, 0.6);
 }
 .uppercase{
   font-size: 20px;
   }
button {
  background: transparent;
  border: 1px solid gray;
  padding: 10px;
   border-radius: 25px;
}

.grid{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}
.row {
    display: block;
    clear: both;
}
.column{
    display: inline-block;
    padding: 20px;
    float: left;
    width: calc(100%/2);
    margin-bottom: 30px;
}
.alignl {
  text-align: left;
}

footer {
    background-color: gray;
    font-color: #ffffff;
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    text-align: center;
}

a:visited {
    color: white;
}
